@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";
@import "modules/variables";
@import "modules/mixins";

/* reusable styles */

%cf {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

%cover {
  @include background-size(cover);
  background-position:center;
  background-repeat:no-repeat;
}

%contain {
  @include background-size(contain);
  background-position:center;
  background-repeat:no-repeat;
}

%fill {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.vertical-center-parent {
  display:table;
  height:100%;
  width:100%;
  .vertical-center-child {
    display:table-cell;
    vertical-align:middle;
  }
}

html {
  margin:0;
  font-size:62.5%;
  height:100%;
  iframe[name='google_conversion_frame'] {
    height:0 !important;
    width:0 !important;
    line-height:0 !important;
    font-size:0 !important;
    margin-top:-13px;
    float:left;
  }
}

body{
  font-family:$open-sans;
  color: $black;
  p, a{

  }
  p{
    @include font-size(14);
  }
  a{
    text-decoration:none;
    color:$dark-grey;
    font-weight:bold;
  }
  button,
  input {
    outline:none;
  }
  h1{

  }
  h2{

  }
  h3{

  }
  h1, h2, h3, h4{

  }
  label {
    cursor:pointer;
  }
  strong{

  }
}

#wrapper {
  padding:20px 2.5%;
  #container {
    border:2px solid $light-grey;
    padding:10px;
    width:800px;
    margin:0 auto;
    #news-feed {
      h1 {
        @include font-size(32,42);
      }
      h2 {
        @include font-size(24,32);
      }
      ul#item-list {
        margin:2em 0;
        li.news-item {
          padding:10px 5px;
          * {
            margin-top:5px;
            &:first-child {
              margin-top:0;
            }
          }
          &:nth-child(odd){
            background-color:$lightest-grey;
          }
          h3 {
            @include font-size(18);
          }
          .pub-date {
            @include font-size(10);
            font-style:italic;
          }
          .description {
            @include font-size(14);
          }
          .detail-button {
            @include border-radius(5px);
            @include box-sizing(border-box);
            @include font-size(14);
            border:none;
            padding:5px;
            background:$dark-grey;
            color:$lightest-grey;
            font-weight:bold;
            font-family:$courier;
            cursor:pointer;
            display:block;
            width:100%;
          }
          .detail-view {
            @include transition(all 0.25s ease-in-out);
            background-color:$grey;
            color:$white;
            &.active {
              border:5px solid $white;
              padding:5px 10px;
            }
            &.pending {
              border:5px solid $black;
              padding:10px 20px;
              .loader {
                max-height:100000px;
              }
            }
            .loader {
              @include transition(all 0.25s ease-in-out);
              @include font-size(40);
              max-height:0;
              overflow:hidden;
              text-align:center;
            }
            img,
            iframe {
              max-width:100%;
              height:auto;
              width:auto;
            }
            p {
              margin:1em 0;
            }
            .off-screen,
            figure {
              display:none;
            }
            .image-and-copyright-container {
              span {
                display:block;
              }
            }
          }
        }
      }
    }
  }
}
