
@mixin breakpoint($media) {
  /* width */
  $handheld-size: "only screen and (max-width: 480px)";
  $all-phone-sizes: "only screen and (max-width: 768px)";
  $all-mobile-sizes: "only screen and (max-width: 1024px)";

  @if $media == handhelds {
    @media #{$handheld-size}{ @content; }
  }
  @else if $media == devices{
    @media #{$all-mobile-sizes} { @content;}
  }
  @else if $media == phones{
    @media #{$all-phone-sizes} { @content;}
  }
}

/* font-size takes an integer corresponding to pixel size, returns px and rem */
@mixin font-size($size,$line-height:1) {
  font-size:($size)+px;
  font-size:($size/10)+rem;
  @if ($line-height != 1){
    $line-height:($line-height/$size);
  }
  line-height:$line-height+em;
}

/* placeholder takes a style declaration, returns properly-formatted CSS for cross-browser placeholder implementation */
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder {@content}
  ::-moz-placeholder {@content}
  :-ms-input-placeholder {@content}
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation ($stuff ) {
  -webkit-animation: $stuff;
  -moz-animation: $stuff;
  -ms-animation: $stuff;
  animation: $stuff;
}
