//colors
$black:#000000;
$dark-grey:#1a1919;
$grey:#727272;
$light-grey:#979c96;
$lightest-grey:#cad7d4;
$white:#ffffff;

//fonts
$courier: "Courier New", Courier, monospace;
$open-sans: 'Open Sans', sans-serif;
$times: "Times New Roman", Times, serif;
//animations
